@tailwind base;
@layer base {
  .section {
    @apply mt-10 mb-5 md:mb-10 md:mt-14 lg:mb-14 lg:mt-20;
  }
  .section-heading {
    @apply text-primary font-bold text-center text-lg lg:text-xl uppercase;
  }
  .section-description {
    @apply text-emphasized font-semibold text-center text-xl md:text-2xl;
  }
}
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  scroll-behavior: smooth;
}
